.container-home {
  display:flex; 
  flex-direction:column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #003048;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 479px){
  .fondo {
    position: absolute;
    z-index: 1;
    color: rgba(255, 255, 0, 0.767);
    top: 25%;
    left: 2%;
    font-size: 300px
  }
  .area{
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
    font-size:2.5rem;
    color:#003048;
    letter-spacing: 1px;
    font-weight:700;
    text-transform:uppercase;
    text-shadow:0px 0px 1px #eeedeb,
    0px 0px 1px #f7f8f3, 
    0px 0px 25px #06eae4,
    0px 0px 0px #06eae4,
    0px 0px 0px #06eae4,
    0px 0px 0px #06eae4,
    0px 0px 0px #06eae4,
    0px 0px 25px #06eae4,
    0px 0px 30px #06eae4,
    0px 0px 50px #06eae4,
    0px 0px 50px #0254f6,
    0px 0px 150px #0254f6,
    0px 10px 100px #0254f6,
    0px 10px 100px #0254f6,
    0px 10px 100px #0254f6,
    0px 10px 100px #0254f6,
    0px -10px 100px #0254f6,
    0px -10px 100px #0254f6;
    -webkit-text-stroke: 1px white;
    animation: home 2s ease 1;
  }
    @keyframes home {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .subtitle{
    position: absolute;
    z-index: 3;
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    color: white;
    top: 50%;
    animation: subtitle 2s ease 1;
  }
  @keyframes subtitle {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .container-button-home {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    top: 59%;
    animation: buttonHome 2s ease 1;
  }
  @keyframes buttonHome {
    0% {
      transform: translateY(100vh);
    }
    100% {
      transform: translateY(0%);
    }
  }
  .button1 {
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: bold;
    font-family: bold;
    background-color: red;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
  }
  
  .button1:hover{
    transform: scale(1.1);
  }
  .button2 {
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: rgba(0, 128, 0, 0.986);
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 1%;
  }
  .modal1{
    position: absolute;
    z-index: 5;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color:#196296;
  }
  .modal-prev {
    position: absolute;
    color: white;
    top: 2%;
    left: 1%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
  }
  .modal1 label {
    color: white;
    font-weight: bold;
    margin: 2%;
  }
  .modal1 input {
    width: 90%;
    height: 5%;
    border: 2px solid #06eae4;
    border-radius: 12px;
    padding-left: 1%;
    outline: none;
    background-color: #dfe;
  }
  .modal1 input::placeholder {
    color: black;
    font-size: 1em;
    font-weight: bold;
  }
  .modal1 select {
    width: 91.5%;
    height: 6%;
    border: 2px solid #06eae4;
    border-radius: 12px;
    padding-left: 1%;
    outline: none;
    background-color: #dfe;
  }
  .button-modal{
    opacity: 0.5;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    transition: border-color 0.25s;
    color: white;
    margin: 3%;
  }
  .confirmar{
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: green;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 3%;
  }
  .modal2 {
    position: absolute;
    z-index: 5;
    height:100%;
    width:100%;
    background-color:#196196;
    overflow:hidden;
    padding: 1%;
  }
  .container-ticket{
    animation: slideDown 1s ease-in-out;
    animation-fill-mode: forwards; 
    opacity: 0;
    width: auto;
    height: 40%;
    overflow:hidden;
    position: relative;
    color: white;
    margin: 0;
  }
  @keyframes slideDown {
    0% {
      transform: translateY(-100%); /* Comienza arriba */
      opacity: 0;
    }
    100% {
      transform: translateY(0%); /* Termina abajo */
      opacity: 1;
    }
  }
  .close-button {
    padding:0;
    width:30px; 
    height:30px; 
    border-radius:100%; 
    border-radius:100%;
    background-color:red;
    font-weight:bold;
    margin-left:88%;
    margin-top: 2%
  }
  .ticket {
    overflow: hidden;
    background-color: #f0f0f0;
    padding: 15px;
    width: 150px;
    height: 80%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .flecha	{
    position: absolute;
    padding: 0;
    width: 98px;
    height: 10px;
    margin-left: -0.2%;
    background-color: red;
    transform: rotate(165deg);
  }
  .flecha2{
    position: absolute;
    padding: 0;
    width: 96px;
    height: 10px;
    background-color: red;
    left: 27.5%;
    transform: rotate(-165deg);
  }
  
  .ticket h2 {
    font-size: 100%;
    height: auto;
  }
  .ticket h1 {
    color: black;
    font-size: 2rem;
  }
  .mostrar {
    color: white;
    height: auto;
    margin-top: 1%;
  }
  .mensaje {
    width: 98%;
    height: auto;
    margin-top: 1%;
  }
  .cancelar {
    width: 50%;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    cursor: pointer;
    color: white;
    margin-top: 2%;
  }
  
  .cambio{
    position: absolute;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    cursor: pointer;
    transition: border-color 0.25s;
    left: 3%;
    top: 3%;
    z-index: 5;
    width: 25%;
    height: auto;
  }
  .cambio2{
    position: absolute;
    z-index: 5;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    transition: border-color 0.25s;
    left: 3%;
    top: 15%;
    cursor: pointer;
    width: 25%;
    height: auto;
  }
  .info{
    position: absolute;
    z-index: 5;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    transition: border-color 0.25s;
    left: 3%;
    top: 25%;
    cursor: pointer;
  }
  .container-info{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    transition: border-color 0.25s;
    left: 2%;
    top: 35%;
  }
  .service {
    width: 50%;
    height: auto;
    overflow: hidden;
    margin-top: 1%;
  }
  
  .service button {
    background-color: #06eae2a1;
    padding: 1%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.808);
    font-weight: bold;
    border: 1px solid white;
    animation: button 2s ease 1;
  }
  @keyframes button {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
}
@media screen and (min-width:480px) and (max-width: 767px) {
  .fondo {
    position: absolute;
    z-index: 1;
    color: rgba(255, 255, 0, 0.767);
    top: 25%;
    left: 2%;
    font-size: 400px
  }
  .area{
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
    font-size:3rem;
    color:#003048;
    letter-spacing: 1px;
    font-weight:700;
    text-transform:uppercase;
    text-shadow:0px 0px 1px #eeedeb,
    0px 0px 1px #f7f8f3, 
    0px 0px 25px #06eae4,
    0px 0px 0px #06eae4,
    0px 0px 0px #06eae4,
    0px 0px 0px #06eae4,
    0px 0px 0px #06eae4,
    0px 0px 25px #06eae4,
    0px 0px 30px #06eae4,
    0px 0px 50px #06eae4,
    0px 0px 50px #0254f6,
    0px 0px 150px #0254f6,
    0px 10px 100px #0254f6,
    0px 10px 100px #0254f6,
    0px 10px 100px #0254f6,
    0px 10px 100px #0254f6,
    0px -10px 100px #0254f6,
    0px -10px 100px #0254f6;
    -webkit-text-stroke: 1px white;
    animation: home 2s ease 1;
  }
    @keyframes home {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .subtitle{
    position: absolute;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    top: 50%;
    animation: subtitle 2s ease 1;
  }
  @keyframes subtitle {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .container-button-home {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    top: 56%;
    animation: buttonHome 2s ease 1;
  }
  @keyframes buttonHome {
    0% {
      transform: translateY(100vh);
    }
    100% {
      transform: translateY(0%);
    }
  }
  .button1 {
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: bold;
    font-family: bold;
    background-color: red;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
  }
  
  .button1:hover{
    transform: scale(1.1);
  }
  .button2 {
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: rgba(0, 128, 0, 0.986);
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 1%;
  }
  .modal1{
    position: absolute;
    z-index: 5;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color:#196296;
  }
  .modal-prev {
    position: absolute;
    color: white;
    top: 2%;
    left: 1%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
  }
  .modal1 label {
    color: white;
    font-weight: bold;
    margin: 2%;
  }
  .modal1 input {
    width: 90%;
    height: 5%;
    border: 2px solid #06eae4;
    border-radius: 12px;
    padding-left: 1%;
    outline: none;
    background-color: #dfe;
  }
  .modal1 input::placeholder {
    color: black;
    font-size: 1em;
    font-weight: bold;
  }
  .modal1 select {
    width: 91.5%;
    height: 6%;
    border: 2px solid #06eae4;
    border-radius: 12px;
    padding-left: 1%;
    outline: none;
    background-color: #dfe;
  }
  .button-modal{
    opacity: 0.5;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    transition: border-color 0.25s;
    color: white;
    margin: 3%;
  }
  .confirmar{
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: green;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 3%;
  }
  .modal2 {
    position: absolute;
    z-index: 5;
    height:100%;
    width:100%;
    background-color:#196196;
    overflow:hidden;
    padding: 1%;
  }
  .container-ticket{
    animation: slideDown 1s ease-in-out;
    animation-fill-mode: forwards; 
    opacity: 0;
    width: auto;
    height: 40%;
    overflow:hidden;
    position: relative;
    color: white;
    margin: 0;
  }
  @keyframes slideDown {
    0% {
      transform: translateY(-100%); /* Comienza arriba */
      opacity: 0;
    }
    100% {
      transform: translateY(0%); /* Termina abajo */
      opacity: 1;
    }
  }
  .close-button {
    padding:0;
    width:30px; 
    height:30px; 
    border-radius:100%; 
    border-radius:100%;
    background-color:red;
    font-weight:bold;
    margin-left:88%;
    margin-top: 2%
  }
  .ticket {
    overflow: hidden;
    background-color: #f0f0f0;
    padding: 15px;
    width: 150px;
    height: 80%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .flecha	{
    position: absolute;
    padding: 0;
    width: 98px;
    height: 10px;
    margin-left: -0.2%;
    background-color: red;
    transform: rotate(165deg);
  }
  .flecha2{
    position: absolute;
    padding: 0;
    width: 96px;
    height: 10px;
    background-color: red;
    left: 27.5%;
    transform: rotate(-165deg);
  }
  
  .ticket h2 {
    font-size: 100%;
    height: auto;
  }
  .ticket h1 {
    color: black;
    font-size: 2rem;
  }
  .mostrar {
    color: white;
    height: auto;
    margin-top: 1%;
  }
  .mensaje {
    width: 98%;
    height: auto;
    margin-top: 1%;
  }
  .cancelar {
    width: 50%;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    cursor: pointer;
    color: white;
    margin-top: 2%;
  }
  
  .cambio{
    position: absolute;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    cursor: pointer;
    transition: border-color 0.25s;
    left: 3%;
    top: 3%;
    z-index: 5;
    width: 25%;
    height: auto;
  }
  .cambio2{
    position: absolute;
    z-index: 5;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    transition: border-color 0.25s;
    left: 3%;
    top: 15%;
    cursor: pointer;
    width: 25%;
    height: auto;
  }
  .info{
    position: absolute;
    z-index: 5;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    transition: border-color 0.25s;
    left: 3%;
    top: 25%;
    cursor: pointer;
  }
  .container-info{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    transition: border-color 0.25s;
    left: 2%;
    top: 35%;
  }
  .service {
    width: 50%;
    height: auto;
    overflow: hidden;
    margin-top: 1%;
  }
  
  .service button {
    background-color: #06eae2a1;
    padding: 1%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.808);
    font-weight: bold;
    border: 1px solid white;
    animation: button 2s ease 1;
  }
  @keyframes button {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  
  .fondo {
    position: absolute;
    z-index: 1;
    color: rgba(255, 255, 0, 0.767);
    top: 2.5%;
    left: 30%;
    font-size: 310px;
  }
  
  .area{
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
    font-size:6em;
    color:#003048;
    letter-spacing: 1px;
    font-weight:700;
    text-transform:uppercase;
    text-shadow:0px 0px 1px #eeedeb,
    0px 0px 1px #f7f8f3, 
    0px 0px 25px #06eae4,
    0px 0px 0px #06eae4,
    0px 0px 0px #06eae4,
    0px 0px 0px #06eae4,
    0px 0px 0px #06eae4,
    0px 0px 25px #06eae4,
    0px 0px 30px #06eae4,
    0px 0px 50px #06eae4,
    0px 0px 50px #0254f6,
    0px 0px 150px #0254f6,
    0px 10px 100px #0254f6,
    0px 10px 100px #0254f6,
    0px 10px 100px #0254f6,
    0px 10px 100px #0254f6,
    0px -10px 100px #0254f6,
    0px -10px 100px #0254f6;
    -webkit-text-stroke: 1px white;
    animation: home 2s ease 1;
  }
  @keyframes home {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .subtitle{
    position: absolute;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    top: 50%;
    animation: subtitle 2s ease 1;
  }
  @keyframes subtitle {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .container-button-home {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    top: 65%;
    animation: buttonHome 2s ease 1;
  }
  @keyframes buttonHome {
    0% {
      transform: translateY(100vh);
    }
    100% {
      transform: translateY(0%);
    }
  }
  .button1 {
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: bold;
    font-family: bold;
    background-color: red;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
  }
  
  .button1:hover{
    transform: scale(1.1);
  }
  .button2 {
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: rgba(0, 128, 0, 0.986);
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 1%;
  }
  
  .modal1{
    position: absolute;
    z-index: 5;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color:#196296
  }
  .modal-prev {
    position: absolute;
    color: white;
    top: 2%;
    left: 1%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
  }
  .modal1 label {
    color: white;
    font-weight: bold;
    margin: 0.5%;
  }
  .modal1 input {
    width: 50%;
    height: 10%;
    border: 2px solid #06eae4;
    border-radius: 12px;
    padding-left: 1%;
    outline: none;
    background-color: #dfe;
  }
  .modal1 input::placeholder {
    color: black;
    font-size: 1em;
    font-weight: bold;
  }
  .modal1 select {
    width: 51.5%;
    height: 11%;
    border: 2px solid #06eae4;
    border-radius: 12px;
    padding-left: 1%;
    outline: none;
    background-color: #dfe;
  }
  .button-modal{
    opacity: 0.5;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    transition: border-color 0.25s;
    color: white;
    margin: 1%;
  }
  .confirmar{
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: green;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 1%;
  }
  .modal2 {
    position: absolute;
    z-index: 5;
    height:100%;
    width:100%;
    background-color:#196196;
    overflow:scroll;
    padding: 1%;
  }
  .container-ticket{
    animation: slideDown 1s ease-in-out;
    animation-fill-mode: forwards; 
    opacity: 0;
    width: auto;
    height: auto;
    overflow:hidden;
    position: relative;
    color: white;
    margin: 0;
  }
  @keyframes slideDown {
    0% {
      transform: translateY(-100%); /* Comienza arriba */
      opacity: 0;
    }
    100% {
      transform: translateY(0%); /* Termina abajo */
      opacity: 1;
    }
  }
  .close-button {
    padding:0;
    width:30px; 
    height:30px; 
    border-radius:100%; 
    border-radius:100%;
    background-color:red;
    font-weight:bold;
    margin-left:91%;
    margin-top: 1%
  }
  .ticket {
    overflow: hidden;
    background-color: #f0f0f0;
    padding: 15px;
    width: 150px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }
  .flecha	{
    position: absolute;
    z-index: -10;
    opacity: 0;
  }
  .flecha2{
    position: absolute;
    z-index: -10;
    opacity: 0;
  }
  
  .ticket h2 {
    font-size: 100%;
    height: auto;
  }
  .ticket h1 {
    color: black;
    font-size: 2rem;
  }
  .mostrar {
    color: white;
    height: auto;
    margin-top: 1%;
  }
  .mensaje {
    margin-top: 0.5%;
  }
  .cancelar {
    width: 25%;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    cursor: pointer;
    color: white;
    margin-top: 0.5%;
  }
  
  .cambio{
    position: absolute;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    cursor: pointer;
    transition: border-color 0.25s;
    left: 3%;
    top: 3%;
  }
  .cambio2{
    position: absolute;
    z-index: 5;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    transition: border-color 0.25s;
    left: 3%;
    top: 15%;
    cursor: pointer;
  }
  .info{
    position: absolute;
    z-index: 5;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    transition: border-color 0.25s;
    left: 3%;
    top: 28%;
    cursor: pointer;
  }
  .container-info{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    transition: border-color 0.25s;
    left: 2%;
    top: 35%;
  }
  .service {
    width: 50%;
    height: auto;
    overflow: hidden;
    margin-top: 1%;
  }
  
  .service button {
    background-color: #06eae2a1;
    padding: 1%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.808);
    font-weight: bold;
    border: 1px solid white;
    animation: button 2s ease 1;
  }
  @keyframes button {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
}  

@media screen and (min-width: 1024px){
  
  .fondo {
    position: absolute;
    z-index: 1;
    color: rgba(255, 255, 0, 0.767);
    top: 6%;
    left: 30%;
    font-size: 500px;
  }
  
  .area{
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
    font-size:6.5em;
    color:#003048;
    letter-spacing: 1px;
    font-weight:700;
    text-transform:uppercase;
    text-shadow:0px 0px 1px #eeedeb,
    0px 0px 1px #f7f8f3, 
    0px 0px 25px #06eae4,
    0px 0px 0px #06eae4,
    0px 0px 0px #06eae4,
    0px 0px 0px #06eae4,
    0px 0px 0px #06eae4,
    0px 0px 25px #06eae4,
    0px 0px 30px #06eae4,
    0px 0px 50px #06eae4,
    0px 0px 50px #0254f6,
    0px 0px 150px #0254f6,
    0px 10px 100px #0254f6,
    0px 10px 100px #0254f6,
    0px 10px 100px #0254f6,
    0px 10px 100px #0254f6,
    0px -10px 100px #0254f6,
    0px -10px 100px #0254f6;
    -webkit-text-stroke: 1px white;
    animation: home 2s ease 1;
  }
  @keyframes home {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .subtitle{
    position: absolute;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    top: 50%;
    animation: subtitle 2s ease 1;
  }
  @keyframes subtitle {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .container-button-home {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    top: 60%;
    animation: buttonHome 2s ease 1;
  }
  @keyframes buttonHome {
    0% {
      transform: translateY(100vh);
    }
    100% {
      transform: translateY(0%);
    }
  }
  .button1 {
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: bold;
    font-family: bold;
    background-color: red;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
  }
  
  .button1:hover{
    transform: scale(1.1);
  }
  .button2 {
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: rgba(0, 128, 0, 0.986);
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 1%;
  }
  
  .modal1{
    position: absolute;
    z-index: 5;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color:#196296
  }
  .modal-prev {
    position: absolute;
    color: white;
    top: 2%;
    left: 1%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
  }
  .modal1 label {
    color: white;
    font-weight: bold;
    margin: 0.5%;
  }
  .modal1 input {
    width: 50%;
    height: 5%;
    border: 2px solid #06eae4;
    border-radius: 12px;
    padding-left: 1%;
    outline: none;
    background-color: #dfe;
  }
  .modal1 input::placeholder {
    color: black;
    font-size: 1em;
    font-weight: bold;
  }
  .modal1 select {
    width: 51.5%;
    height: 6%;
    border: 2px solid #06eae4;
    border-radius: 12px;
    padding-left: 1%;
    outline: none;
    background-color: #dfe;
  }
  .button-modal{
    opacity: 0.5;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    transition: border-color 0.25s;
    color: white;
    margin: 1%;
  }
  .confirmar{
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: green;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 1%;
  }
  .modal2 {
    position: absolute;
    z-index: 5;
    height:100%;
    width:100%;
    background-color:#196196;
    overflow:hidden;
    padding: 1%;
  }
  .container-ticket{
    animation: slideDown 1s ease-in-out;
    animation-fill-mode: forwards; 
    opacity: 0;
    width: auto;
    height: 50%;
    overflow:hidden;
    position: relative;
    color: white;
    margin: 0;
  }
  @keyframes slideDown {
    0% {
      transform: translateY(-100%); /* Comienza arriba */
      opacity: 0;
    }
    100% {
      transform: translateY(0%); /* Termina abajo */
      opacity: 1;
    }
  }
  .close-button {
    padding:0;
    width:30px; 
    height:30px; 
    border-radius:100%; 
    border-radius:100%;
    background-color:red;
    font-weight:bold;
    margin-left:94%;
    margin-top: 1%
  }
  .ticket {
    overflow: hidden;
    background-color: #f0f0f0;
    padding: 15px;
    width: 150px;
    height: 80%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }
  .flecha	{
    position: absolute;
    padding: 0;
    width: 98px;
    height: 10px;
    margin-left: -0.2%;
    background-color: red;
    transform: rotate(165deg);
  }
  .flecha2{
    position: absolute;
    padding: 0;
    width: 96px;
    height: 10px;
    background-color: red;
    left: 42.5%;
    transform: rotate(-165deg);
  }
  
  .ticket h2 {
    font-size: 100%;
    height: auto;
  }
  .ticket h1 {
    color: black;
    font-size: 2rem;
  }
  .mostrar {
    color: white;
    height: auto;
    margin-top: 1%;
  }
  .mensaje {
    margin-top: 1%;
  }
  .cancelar {
    width: 25%;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    cursor: pointer;
    color: white;
    margin-top: 2%;
  }
  
  .cambio{
    position: absolute;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    cursor: pointer;
    transition: border-color 0.25s;
    left: 3%;
    top: 3%;
  }
  .cambio2{
    position: absolute;
    z-index: 5;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    transition: border-color 0.25s;
    left: 3%;
    top: 15%;
    cursor: pointer;
  }
  .info{
    position: absolute;
    z-index: 5;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    transition: border-color 0.25s;
    left: 3%;
    top: 25%;
    cursor: pointer;
  }
  .container-info{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: bold;
    background-color: red;
    transition: border-color 0.25s;
    left: 2%;
    top: 35%;
  }
  .service {
    width: 50%;
    height: auto;
    overflow: hidden;
    margin-top: 1%;
  }
  
  .service button {
    background-color: #06eae2a1;
    padding: 1%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.808);
    font-weight: bold;
    border: 1px solid white;
    animation: button 2s ease 1;
  }
  @keyframes button {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
}  
